<div class="movieForm">
    <h2>Mantenedor Películas</h2>
    <div id="alert" class="alert-success">
        Este es un mensaje
    </div>
    <div class="formField">
        <label for="txtId">Id:</label>
        <input id="txtId" type="number" placeholder="Id de la película" />
        <button id="btnRead">Buscar</button>
    </div>
    <div class="formField">
        <label for="txtName">Nombre:</label>
        <input id="txtName" type="text" placeholder="Nombre de la película" />
    </div>
    <div class="formField">
        <label for="txtYear">Año:</label>
        <input id="txtYear" type="number" placeholder="Año de la película" />
    </div>
    <div class="formField">
        <label for="imgSelector">Portada de la película:</label>
        <br />
        <img id="imgPreview" src="" alt="imgPreview" width="100px"/>
        <br />
        <input id="imgSelector" type="file" accept="image/*" />
    </div>
    <div class="formField">
        <button id="btnCreate">Guardar</button>
        <button id="btnUpdate">Actualizar</button>
        <button id="btnDelete">Borrar</button>
    </div>
</div>